{% extends "gnosis_theme.html" %}

{% block content %}

<div class="mt-5">
    <h3>
        <a href={{ code.website }} target="_blank">{{ code.website }}</a>
        {% if user.is_authenticated %}
        {% if user.is_superuser or user.id == code.created_by %}
        <p>
            <a href="{% url 'code_update' code.id %}" class="btn btn-danger btn-sm" role="" button>
                Edit
            </a>
        </p>
        {% endif %}
        {% endif %}
    </h3>
    <p></p>
    <p>{{ code.description }}</p>
    <p class="text-right">
        <small>Keywords: {{ code.keywords }}</small>
    </p>
</div>

{% endblock %}