{% extends "gnosis_theme.html" %}

{% block content %}
{% load el_pagination_tags %}

<div class="card shadow-sm mt-5">
    <div class="card-header">
        <h3>
            {{ collection.name }}
            {% if user.is_authenticated %}
            {% if user.is_superuser or user.id == collection.owner.id %}
            <p>
                <a href="{% url 'collection_update' collection.id %}" class="btn btn-danger btn-sm" role="" button>
                    Edit
                </a>
            </p>
            {% endif %}
            {% endif %}
        </h3>
        created by {{ collection.owner }} on {{ collection.created_at }}
    </div>
    <div class="card-body">
        {% if collection.description %}
        <p>{{ collection.description }}</p>
        {% else %}
        <p class="font-weight-light font-italic"> No description given.</p>
        {% endif %}
        {% if collection.keywords %}
        <p class="text-right">
            <small>Keywords: {{ collection.keywords }}</small>
        </p>
        {% endif %}
        {% if papers %}
        {% paginate papers %}
        {% for paper in papers %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex flex-row">
                    <div class="mr-auto p-2"><a href="{% url 'paper_detail' paper.paper_id %}">{{ paper.paper_title }}</a></div>
                    <div class="p-2"><a href="{% url 'collection_entry_remove' collection.id paper.id %}" class="btn btn-outline-danger btn-sm" role="button">Remove</a></div>
                </div>
            </li>
        </ul>
        {% endfor %}
                {% get_pages %}
        <!-- Center-aligned -->
        <ul class="pagination justify-content-center" style="margin:20px 0">
            {% if not pages.current.is_first %}
            <li class="page-item"><a class="page-link" href="{{ pages.previous.path }}">Previous</a></li>
            {% endif %}
            {% for page in pages %}
            {% if page.is_current %}
            <li class="page-item active"><a class="page-link" href="{{ page.path }}">{{ page.number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ page.path }}">{{ page.number }}</a></li>
            {% endif %}
            {% endfor %}
            {% if not pages.current.is_last %}
            <li class="page-item"><a class="page-link" href="{{ pages.next.path }}">Next</a></li>
            {% endif %}
        </ul>
        {% else %}
        <p class="font-weight-light font-italic">This collection doesn't have any papers yet.</p>
        {% endif %}
    </div>
</div>


{% if user.is_authenticated %}
<div class="card text-left shadow-sm mb-5 mt-3">
    <div class="card-header"><strong>Admin functions</strong></div>
    <div class="card-body">
        <a href="{% url 'collection_delete' collection.id %}" class="btn btn-danger btn-sm" role="button">Delete
            Collection</a>
    </div>
</div>
{% endif %}


{% endblock %}