{% extends "gnosis_theme.html" %}
{% block content %}
{% load el_pagination_tags %}

<div class="card shadow-sm mt-3">
    <div class="card-header">
        <h4>Endorsements</h4>

    </div>
    <div class="card-body">
        {% if papers %}
        {% paginate papers %}
        {% for paper in papers %}
        <ul class="list-group">
            <li class="list-group-item mt-1">
                <div class="d-flex flex-row">
                    <div class="mr-auto p-2"><a href="{% url 'paper_detail' paper.paper_id %}">{{ paper.paper_title }}</a></div>
                    <div class="p-2"><a href="{% url 'endorsement_undo_from_view' paper.paper_id %}" class="btn btn-outline-danger btn-sm" role="button">Remove</a></div>
                </div>
            </li>
        </ul>
        {% endfor %}

        {% get_pages %}
        <!-- Center-aligned -->
        <ul class="pagination justify-content-center" style="margin:20px 0">
            {% if not pages.current.is_first %}
            <li class="page-item"><a class="page-link" href="{{ pages.previous.path }}">Previous</a></li>
            {% endif %}
            {% for page in pages %}
            {% if page.is_current %}
            <li class="page-item active"><a class="page-link" href="{{ page.path }}">{{ page.number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ page.path }}">{{ page.number }}</a></li>
            {% endif %}
            {% endfor %}
            {% if not pages.current.is_last %}
            <li class="page-item"><a class="page-link" href="{{ pages.next.path }}">Next</a></li>
            {% endif %}
        {% else %}
        <p class="font-heavy-light font-italic">You have not endorsed any paper yet.</p>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}