{% extends "gnosis_theme.html" %}

{% block content %}
<div class="card shadow-sm mt-5">
    <div class="card-header">
        {% if group.name %}
            <h3>Update {{ group.name }} Group</h3>
        {% else %}
            <h3>New Group</h3>
        {% endif %}
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <table class="w-75">
                {{ form }}
            </table>
            <br/>
            <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit"/>
        </form>
    </div>
</div>

{% endblock %}