{% extends "gnosis_theme.html" %}

{% block content %}
<h2>Find a Venue</h2>

{% if message %}
<p class="bg-danger">{{ message }}</p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <p></p>
    <input type="submit" class="btn btn-primary btn-lg pull-right" value="Submit" />
</form>


<p><a href="{% url 'venue_create' %}">+ Venue</a></p>

{% if venues %}
<h4>These are the venues that matched your query</h4>
<ul>
{% for venue in venues %}
    <li><a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}