{% extends "gnosis_theme.html" %}
{% block content %}
{% load el_pagination_tags %}

<div class="text-center">
{% if message %}
<p class="bg-info">{{ message }}</p>
{% endif %}
<br>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form  %}
        {{ field }}
    {% endfor %}
    <br>
    <input type="submit" class="btn btn-primary btn-lg" value="Search Papers" />
</form>
</div>
<br>

{% paginate papers %}
{% for paper, authors, venue in papers %}
<div class="well well-sm">
    <h4><a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a></h4>
    <p>{{ authors }}</p>
    <p>{{ venue }}</p>
    {{ paper.abstract|truncatewords:50 }}
</div>
{% endfor %}

{% get_pages %}
Showing entries
{{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}.
{# Just print pages to render the Digg-style pagination. #}
{{ pages.get_rendered }}

{% endblock %}