{% extends "gnosis_theme.html" %}

{% block content %}

<h3>{{ paper.title }}</h3>
<p>Download <a href= {{ paper.download_link }}><span class="glyphicon glyphicon-link"></span></a></p>

<h5 class="text-right"><small>keywords: {{ paper.keywords }}</small></h5>

<p><strong>Abstract:</strong> {{ paper.abstract }} </p>
{% if venue %}
<p><small><strong>Venue:</strong> {{ venue }}</small></p>
{% endif%}

{% if user.is_authenticated %}
<p><a href="{% url 'comment_create' %}">+ Comment&nbsp&nbsp&nbsp</a></p>
{% else %}
<p><a href="{% url 'login' %}?next={{request.path}}">Login</a> to comment</p>
{% endif %}

{% if num_comments > 0 %}
<h3>{{ num_comments }} Comments</h3>
{% for comment in comments %}
<div class="well">
    <p>{{comment.author }} says:</p>
    <p><small><a href="{{ comment.get_absolute_url }}">{{ comment.publication_date }}</small></a></p>
    <p>{{ comment.text }}</p>
    {% if comment.created_by == user.id %}
    <a href="{% url 'comment_update' comment.id %}">Edit</a>
    {% endif %}
</div>
{% endfor %}
{% endif %}

{% endblock %}