{% extends "gnosis_theme.html" %}

{% block content %}

    <div class="card shadow-sm mt-5">
        <div class="card-header">
            <h3>{{ paper.title }}</h3>

            <h4>
                <a href={{ paper.download_link }} class="btn btn-primary" role="button">Download</a>
                {% if user.is_authenticated %}<a href="{% url 'paper_update' paper.id %}" class="btn btn-danger btn-sm"
                                                 role="button">
                    Edit</a>
                {% endif %}
            </h4>
        </div>
        <div class="card-body">
            <h5 class="text-left">
                {{ authors }} {% if user.is_authenticated and user.is_superuser %}<a
                    href="{% url 'paper_authors' id=paper.id %}"
                    class="btn btn-danger btn-sm" role="button">
                Edit</a>{% endif %}
            </h5>

            <h5 class="text-right">
                <small>keywords: {{ paper.keywords }}</small>
            </h5>

            <p><strong>Abstract:</strong> {{ paper.abstract }} </p>
            {% if venue %}
                <p>
                    <small><strong>Venue:</strong> {{ venue }}</small>
                </p>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <p class="bg-success">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <h4 class="text-right">{% if user.is_authenticated %} Connect with: <a
                    href="{% url 'paper_connect_paper' paper.id %}">Paper</a>
                || <a href="{% url 'paper_connect_venue' paper.id %}">Venue</a> ||
                <a href="{% url 'paper_connect_author' paper.id %}">Author</a> ||
                <a href="{% url 'paper_connect_dataset' paper.id %}">Dataset</a> ||
                <a href="{% url 'paper_connect_code' paper.id %}">Code Repo</a>{% endif %}</h4>
        </div>
    </div>
    {% if user.is_authenticated and user.is_superuser %}
        <div class="card text-left shadow-sm mb-3 mt-3">
            <div class="card-header"><strong>Admin functions</strong></div>
            <div class="card-body">
                <a href="{% url 'paper_delete' paper.id %}" class="btn btn-danger btn-sm" role="button">Delete Paper</a>
            </div>
        </div>
    {% endif %}
    {% if codes %}
        <div class="card shadow-sm mt-3">
            <div class="card-header"><h4>Code</h4></div>
            <div class="card-body">
                <ul class="list-group">
                    {% for code in codes %}
                        <li class="list-group-item"><h6><a href="{{ code.get_absolute_url }}">{{ code.website }}</a>
                        </h6></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}



    <div class="card mt-3 shadow-sm">
        <div class="card-header"><h4>Ego-graph</h4></div>

        <div class="card-body">
            <button style="position: absolute; z-index: 1000; float: left;" type="button"
                    class="btn btn-primary toggle"
                    data-toggle="button"
                    aria-pressed="false" autocomplete="off" onclick="toggle_relas()">
                Hide Relations
            </button>

            <button style="position: absolute; z-index: 1000; float: left; left: 200px" type="button"
                    class="btn btn-primary"
                    onclick="center_graph()">
                Center
            </button>

            <button style="position: absolute; z-index: 1000; float: left; left: 330px" type="button"
                    class="btn btn-primary"
                    onclick="reset_graph()">
                Reset
            </button>

            <label style="position: absolute" for="graphfilter"></label>
            <select style="position: absolute; z-index: 1000; top: 150px;" id="graphfilter"
                    onchange="show_cites(this.value)">
                <option value="all relationships"> - All Relationships -</option>
                <option value="cites"> - Cites -</option>
                <option value="uses"> - Uses -</option>
                <option value="extends"> - Extends -</option>
                <option value="authors"> - Authors -</option>
            </select>

            <div id="cy">
            </div>
        </div>
    </div>


    <p>{% if user.is_authenticated %}<a href="{% url 'comment_create' %}" class="btn btn-info mt-3 btn-md">
        <span class="glyphicon glyphicon-plus"></span> Add Comment</a></p>
    {% else %}
        <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a> to comment</p>
    {% endif %}
    {% if num_comments > 0 %}
        <div class="card shadow-sm mt-3">
            <div class="card-header">
                <h3>{{ num_comments }} Comments</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for comment in comments %}
                        <li class="list-group-item shadow-sm mt-1">
                            <p><strong>{{ comment.author }}</strong> says:</p>
                            <p>
                                <small>{{ comment.publication_date }}</small>
                            </p>
                            <p>{{ comment.text }}</p>
                            {% if comment.created_by == user.id %}
                                <a href="{% url 'comment_update' comment.id %}">Edit</a>
                            {% endif %}
                        </li>
                        </ul>
                    {% endfor %}
            </div>
        </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        {#var state_nodes = false;#}
        {#function toggle_nodes(){#}
        {#    state_nodes = !state_nodes;#}
        {#    if (state_nodes) {#}
        {#        cy.style().selector('node').style('label', '').update()#}
        {#    }else{#}
        {#        cy.style().selector('node[type="Paper"]').style('label', 'data(title)').update();#}
        {#        cy.style().selector('node[type="Person"]').style('label', 'data(last_name)').update()#}
        {#    }#}
        var hide_rela = false;

        function toggle_relas() {
            hide_rela = !hide_rela;
            if (hide_rela) {
                cy.style().selector('edge').style('label', '').update();
                $(".toggle").text("Show Relations");
            } else {
                cy.style().selector('edge').style('label', 'data(label)').update();
                $(".toggle").text("Hide Relations");
            }
        }

        function center_graph() {
            cy.animate({
                center: cy.nodes()
            }, {
                duration: 50
            });
        }

        function reset_graph() {
            center_graph();
            var layout = cy.layout({
                name: 'cola'
            });

            layout.run();
        }

        var main_paper_id = '{{ main_paper_id }}';


        function show_cites(value) {

            var cat = value;
            //document.write('node[label="'+cat+'"]');
            if (cat === "all relationships") {
                cy.style().selector('node').style('visibility', 'visible').update();
                cy.style().selector('edge').style('visibility', 'visible').update();
            } else {
                cy.style().selector('node').style('visibility', 'hidden').update();
                cy.style().selector('edge').style('visibility', 'hidden').update();
                cy.style().selector('node[label="' + cat + '"]').style('visibility', 'visible').update();
                cy.style().selector('edge[label="' + cat + '"]').style('visibility', 'visible').update();
                cy.style().selector('node[label="origin"]').style('visibility', 'visible').update();
            }

        }

        var cy = cytoscape({
            container: document.getElementById('cy'), // container to render in
            elements: {{ ego_network | safe }},
            wheelSensitivity: 0.2,


            layout:
                {
                    name: 'cola'
                },

            style: [ // the stylesheet for the graph
                {
                    selector: 'node[id="' + main_paper_id + '"]',
                    style: {
                        'width': 30,
                        'height': 30,
                        'background-color': '#C4C9FF',
                        'label': 'data(title)',
                        'text-opacity': 1,
                        'text-wrap': 'ellipsis',
                        'text-max-width': '50',
                        'text-background-color': '#FFFFFF',
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '10px',
                        'border-width': '1.5px',
                        'border-color': "#4e5066"
                    }
                },
                {
                    selector: 'node[label="cites"]',
                    style: {
                        'width': 20,
                        'height': 20,
                        'background-color': '#76E2F8',
                        'label': 'data(title)',
                        'text-opacity': 1,
                        'text-wrap': 'ellipsis',
                        'text-max-width': '50',
                        'text-background-color': '#FFFFFF',
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '10px',
                        'border-width': '1.5px',
                        'border-color': "#3b717c",
                        'visibility': 'visible'
                    },

                },
                {
                    selector: 'node[label="uses"]',
                    style: {
                        'width': 20,
                        'height': 20,
                        'background-color': '#9FE784',
                        'label': 'data(title)',
                        'text-opacity': 1,
                        'text-wrap': 'ellipsis',
                        'text-max-width': '50',
                        'text-background-color': '#FFFFFF',
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '10px',
                        'border-width': '1.5px',
                        'border-color': "#3f5c34",
                        'visibility': 'visible'
                    },

                },
                {
                    selector: 'node[label="extends"]',
                    style: {
                        'width': 20,
                        'height': 20,
                        'background-color': '#FFA2B5',
                        'label': 'data(title)',
                        'text-opacity': 1,
                        'text-wrap': 'ellipsis',
                        'text-max-width': '50',
                        'text-background-color': '#FFFFFF',
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '10px',
                        'border-width': '1.5px',
                        'border-color': "#664048",
                        'visibility': 'visible'
                    },

                },

                {
                    selector: 'node[type="Person"]',
                    style: {
                        'width': 20,
                        'height': 20,
                        'background-color': '#FFB486',
                        'label': 'data(last_name)',
                        'text-opacity': 1,
                        'text-wrap': 'ellipsis',
                        'text-max-width': '50',
                        'text-background-color': '#FFFFFF',
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '10px',
                        'border-width': '1.5px',
                        'border-color': "#664835",
                        'visibility': 'visible'

                    },

                },
                {
                    selector: 'edge[label="cites"]',
                    style: {
                        'width': 5,
                        'label': 'data(label)',
                        'line-color': '#76E2F8',
                        'curve-style': 'bezier',
                        'target-arrow-color': '#76E2F8',
                        'target-arrow-shape': 'triangle',
                        'text-opacity': 1,
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '9px',
                        'visibility': 'visible'

                    }
                },
                {
                    selector: 'edge[label="uses"]',
                    style: {
                        'width': 5,
                        'label': 'data(label)',
                        'line-color': '#9FE784',
                        'curve-style': 'bezier',
                        'target-arrow-color': '#9FE784',
                        'target-arrow-shape': 'triangle',
                        'text-opacity': 1,
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '9px',
                        'visibility': 'visible'

                    }
                },
                {
                    selector: 'edge[label="extends"]',
                    style: {
                        'width': 5,
                        'label': 'data(label)',
                        'line-color': '#FFA2B5',
                        'curve-style': 'bezier',
                        'target-arrow-color': '#FFA2B5',
                        'target-arrow-shape': 'triangle',
                        'text-opacity': 1,
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '9px',
                        'visibility': 'visible'

                    }
                },
                {
                    selector: 'edge[label="authors"]',
                    style: {
                        'width': 5,
                        'label': 'data(label)',
                        'line-color': '#ffa70d',
                        'curve-style': 'bezier',
                        'target-arrow-color': '#ffa70d',
                        'target-arrow-shape': 'triangle',
                        'text-opacity': 1,
                        'text-outline-opacity': 1,
                        'text-outline-color': '#FFFFFF',
                        'text-outline-width': '1px',
                        'font-size': '9px',
                        'visibility': 'visible'

                    }
                }
            ],

        });
        var time_out = 1000;
        cy.on('click', 'node', function (evt) {
            var node = evt.target;
            console.log('tapped ' + node.data('href'));
            try {
                window.open(node.data('href'), '_self');
            } catch (e) {
                window.location.href = node.data('href');
            }
        })

            .on('mouseover', 'node', function (evt) {
                var node = evt.target;
                node.style('opacity', 0.8);

                hoverTimeout = setTimeout(function () {
                    var px = node.renderedPosition('x');
                    var py = node.renderedPosition('y');

                    var tip_item = "";

                    var span = document.createElement("span");
                    if (node.data('type')==='Person'){
                        tip_item = node.data('first_name') + ' ' + node.data('middle_name') + ' ' + node.data('last_name');
                    }

                    if (node.data('type') === 'Paper'){
                        tip_item = node.data('title')
                    }

                    span.innerHTML = tip_item;
                    if (tip_item.length > 0) {

                        $("#cy").append("<div id='tooltip'></div>");


                        $('#tooltip').append(span).css({
                            "display": "inline-block",
                            "max-width": "200px",
                            "height": "auto",
                            "position": "absolute",
                            "padding": "5px",
                            "left": px,
                            "top": py,
                            "background-color": "#f2e5b8",
                            "z-index": 1000,
                            "border-radius": "6px",
                            "opacity": 0.9,
                            "text-align": "center"
                        });
                    }

                }, time_out);


            })
            .on('mouseout', 'node', function (evt) {
                clearTimeout(hoverTimeout);
                var node = evt.target;
                node.style('opacity', 1);
                $('#tooltip').remove();

            })

            .on('mouseover', 'edge', function (evt) {
                var edge = evt.target;
                edge.style('opacity', 0.8);

            })
            .on('mouseout', 'edge', function (evt) {
                var edge = evt.target;
                edge.style('opacity', 1);

            })

    </script>

{% endblock %}