{% extends "gnosis_theme.html" %}

{% block content %}


    <style>

.container {
	height: 100vh;
	width: 100vw;
	font-family: Helvetica;
  }

  .loading {
	height: 20px;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  }
  .dot {
	animation-name: loading-anime;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: black;
	position: absolute;
	border: 2px solid white;
  }
  .dot:first-child {
	background-color: #8cc759;
	animation-delay: 0.5s;
  }
  .dot:nth-child(2) {
	background-color: #8c6daf;
	animation-delay: 0.4s;
  }
  .dot:nth-child(3) {
	background-color: #ef5d74;
	animation-delay: 0.3s;
  }
  .dot:nth-child(4) {
	background-color: #f9a74b;
	animation-delay: 0.2s;
  }
  .dot:nth-child(5) {
	background-color: #60beeb;
	animation-delay: 0.1s;
  }
  .dot:nth-child(6) {
	background-color: #fbef5a;
	animation-delay: 0s;
  }
  .text {
	position: absolute;
	top: 200%;
	left: 0;
	right: 0;
	width: 4rem;
	margin: auto;
  }
  .text:after {
	content: "Loading";
	font-weight: bold;
	animation-name: loading-text;
	animation-duration: 3s;
	animation-iteration-count: infinite;
  }

  @keyframes loading-anime {
	15% {
	  transform: translateX(0);
	}
	45% {
	  transform: translateX(230px);
	}
	65% {
	  transform: translateX(230px);
	}
	95% {
	  transform: translateX(0);
	}
  }
  @keyframes loading-text {
	0% {
	  content: "Loading";
	}
	25% {
	  content: "Loading.";
	}
	50% {
	  content: "Loading..";
	}
	75% {
	  content: "Loading...";
	}
  }
    </style>

    <div id = "loader"class='container' style="display: none">
  <div class='loading'>
    <div class='dot'></div>
    <div class='dot'></div>
    <div class='dot'></div>
    <div class='dot'></div>
    <div class='dot'></div>
    <div class='dot'></div>
    <div class='text'></div>
  </div>
</div>

<div id="content" class="mt-5" style="margin-left: 10vw; ">
    <h2>New Paper</h2>

    <form action="" method="post">
        {% csrf_token %}
        <table class="w-75">
            {{ form }}
        </table>
        <br/>
        <input type="submit" style="margin-right: 11vw" class="btn btn-primary btn-lg float-right" value="Submit"/>
    </form>

    <div class="col-md-6">
        <h4 class="bg-warning">{{ message }}</h4>
    </div>

    <h5><br/>*required</h5>
    <br/>
</div>

    <script>
function loading() {
  document.getElementById("loader").style.display = "block";
  document.getElementById("content").style.display = "none";
  myVar = setTimeout(endLoad, 8000)
}

function endLoad(){
    document.getElementById("loader").style.display = "none";
  document.getElementById("content").style.display = "block";
}
</script>
{% endblock %}
