{% extends "gnosis_theme.html" %}
{% block content %}

<p class="text-right">Number of papers in Gnosis {{ num_papers }}</p>

<p>
<a href="{% url 'paper_find' %}" class="btn btn-info">
    <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search Papers
</a>
</p>

{% for paper, authors in papers %}
<div class="well well-sm">
    <h4><a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a></h4>
    {{ authors }}
    <h6 class="text-right">keywords: {{ paper.keywords }}</h6>
    {{ paper.abstract|truncatewords:50 }}
</div>
{% endfor %}

{% endblock %}