{% extends "gnosis_theme.html" %}

{% block content %}

<div class="card shadow-sm mt-5">
    <div class="card-header">
        <h3>{{ paper.title }}</h3>
    </div>
    <div class="card-body">
        {% if number_of_authors > 0 %}
        {% for author, author_url in authors %}
        <ul class="list-group">
            <li class="list-group-item mt-1">
                {% if author.middle_name %}
                <h4><a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.middle_name }} {{ author.last_name }}</a></h4>
                {% else %}
                <h4><a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a></h4>
                {% endif %}
                {% if author.affiliation %}
                <p>Affiliation: {{ author.affiliation }}</p>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                <a class="btn btn-danger float-right" href={{ author_url }}>Remove author</a>
                {% endif %}
            </li>
        </ul>
        {% endfor %}
        {% else %}
            No authors found for this paper.
        {% endif %}
        <p></p><a href="{{ paper.get_absolute_url }}"><< Back to paper.</a></p>
    </div>
</div>
{% endblock %}