{% extends "gnosis_theme.html" %}

{% block content %}
<div class="card shadow-sm mt-3">
    <div class="card-header">
        <h3>Import Paper</h3>
    </div>
    <div class="card-body">

        {% if message %}
        <p class="bg-info text-center">{{ message }}</p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <table class="w-75">
                {{ form }}
            </table>
            <br/>
            <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit"/>
        </form>
          <h5><br/>*required</h5>
    </div>
    <div class="card-footer">
                <p>You can import papers from the following websites, arXiv.org, papers.nips.cc, jmlr.org, ieeexplore.ieee.org, and dl.acm.org.</p>
        <p>For all websites, please, provide the URL with the paper abstract, e.g, https://arxiv.org/abs/1607.00653.</p>

    </div>
</div>

{% endblock %}
