{% extends "gnosis_theme.html" %}

{% block content %}
<div class="card shadow-sm mt-3">
    <div class="card-header">
        <h3>New Paper</h3>
    </div>
    <div class="card-body">

        {% if message %}
        <p class="bg-info text-center">{{ message }}</p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <table class="w-75">
                {{ form }}
            </table>
            <br/>
            <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit"/>
        </form>
        <h5><br/>*required</h5>
    </div>
</div>
{% endblock %}