{% extends "gnosis_theme.html" %}

{% block content %}

<p></p>
<p>
    <a href="{% url 'person_find' %}" class="btn btn-info">
        <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search People
    </a>
</p>

{% load el_pagination_tags %}

{% paginate people %}

{% for person in people %}
<div class="well well-sm">
    {% if person.middel_name %}
    <p><a href="{{ person.get_absolute_url }}">{{person.first_name}} {{person.middle_name}} {{ person.last_name }}</a>
    </p>
    {% else %}
    <p><a href="{{ person.get_absolute_url }}">{{person.first_name}} {{ person.last_name }}</a></p>
    {% endif %}
    {% if person.affiliation %}<p>Affiliation: {{ person.affiliation }}</p>{% endif %}
</div>
{% endfor %}

{% get_pages %}
Showing entries
{{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}.
{# Just print pages to render the Digg-style pagination. #}
{{ pages.get_rendered }}

{% endblock %}