{% extends "gnosis_theme.html" %}

{% block content %}

<div class="card shadow-sm mt-3">
    <div class="card-body text-center">
        {% if message %}
        <p class="bg-info">{{ message }}</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            {{ field }}
            {% endfor %}
            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="Search People"/>
        </form>
    </div>
</div>

{% if people %}
<div class="card shadow-sm mt-3">
    <div class="card-header"><h4>People that match your query</h4></div>
    <div class="card-body">
        {% for person in people %}
        <ul class="list-group">
            <li class="list-group-item mt-1">
                {% if person.middel_name %}
                <p><a href="{{ person.get_absolute_url }}">{{person.first_name}} {{person.middle_name}} {{
                    person.last_name
                    }}</a>
                </p>
                {% else %}
                <p><a href="{{ person.get_absolute_url }}">{{person.first_name}} {{ person.last_name }}</a></p>
                {% endif %}
                {% if person.affiliation %}<p>Affiliation: {{ person.affiliation }}</p>{% endif %}
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}