{% extends "gnosis_theme.html" %}

{% block content %}

<div class="well well-sm">
<h3>
    <p>{{ person.first_name}} {{person.middle_name}} {{person.last_name}}</p>
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.id == person.created_by %}
        <p><a href="{% url 'person_update' person.id %}">
            <span class="glyphicon glyphicon-edit"></span>
        </a></p>
        {% endif %}
    {% endif %}
</h3>
</div>

{% if person.website %}
<p>Website: <a href= {{ person.website }}><span class="glyphicon glyphicon-link"></span></a></p>
{% endif %}

{% if person.affiliation %}
<p>Affiliation: {{ person.affiliation }}</p>
{% else %}
<p>Affiliation: Unknown</p>
{% endif %}

{% endblock %}