{% extends "gnosis_theme.html" %}

{% block content %}

<div class="mt-5">
    <h3>
        {% if person.website %}
        {% if person.middle_name %}
        <p><a href={{ person.website }}>{{ person.first_name}} {{person.middle_name}} {{person.last_name}}</a></p>
        {% else %}
        <p><a href={{ person.website }}>{{ person.first_name}} {{person.last_name}}</a></p>
        {% endif %}
        {% else %}
        {% if person.middle_name %}
        <p>{{ person.first_name}} {{person.middle_name}} {{person.last_name}}</p>
        {% else %}
        <p>{{ person.first_name}} {{person.last_name}}</p>
        {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.is_superuser or user.id == person.created_by %}
        <p><a href="{% url 'person_update' person.id %}" class="btn btn-danger" role="button">Edit
        </a></p>
        {% endif %}
        {% endif %}
    </h3>
</div>

{% if person.affiliation %}
<p>Affiliation: {{ person.affiliation }}</p>
{% else %}
<p>Affiliation: Unknown</p>
{% endif %}

{% endblock %}