{% extends "gnosis_theme.html" %}

{% block content %}
{% load el_pagination_tags %}


<div class="card shadow-sm mt-5 mb-5">
    <div class="card-header">
        <h3>
            {% if venue.website %}
            <p><a href={{ venue.website }}>{{ venue.name}}</a></p>
            {% else %}
            <p>{{ venue.name}}</p>
            {% endif %}
            {% if user.is_authenticated %}
            {% if user.is_superuser or user.id == venue.created_by %}
            <p>
                <small>
                    <a href="{% url 'venue_update' venue.id %}" class="btn btn-danger btn-sm" role="button">
                        Edit
                    </a>
                </small>
            </p>
            {% endif %}
            {% endif %}
        </h3>
    </div>
    <div class="card-body">
    <p>Publication Date: {{ venue.publication_date }}</p>
    {% if venue.keywords %}
    <p>Keywords: {{ venue.keywords }}</p>
    {% endif %}

    <p>Publisher: {{venue.publisher}}</p>
    <p>Type: {{venue.type}}</p>
    </div>
</div>

{% if papers %}

<div class="card shadow-sm mt-3">
    <div class="card-header"><h4>Venue papers</h4></div>
    <div class="card-body">
        {% paginate papers %}
        {% for paper in papers %}
        <ul class="list-group">
            <li class="list-group-item mt-1">
                <h6><a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a></h6>
            </li>
        </ul>
        {% endfor %}

        {% get_pages %}
        <!-- Center-aligned -->
        <ul class="pagination justify-content-center" style="margin:20px 0">
            {% if not pages.current.is_first %}
            <li class="page-item"><a class="page-link" href="{{ pages.previous.path }}">Previous</a></li>
            {% endif %}
            {% for page in pages %}
            {% if page.is_current %}
            <li class="page-item active"><a class="page-link" href="{{ page.path }}">{{ page.number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ page.path }}">{{ page.number }}</a></li>
            {% endif %}
            {% endfor %}
            {% if not pages.current.is_last %}
            <li class="page-item"><a class="page-link" href="{{ pages.next.path }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}


{% if user.is_authenticated and user.is_superuser %}
<div class="card text-left shadow-sm mb-5 mt-3">
    <div class="card-header"><strong>Admin functions</strong></div>
    <div class="card-body">
        <a href="{% url 'venue_delete' venue.id %}" class="btn btn-danger btn-sm" role="button">Delete Venue</a>
    </div>
</div>
{% endif %}

{% endblock %}