.color_legend {
    display: inline-block;
    width: 30px;
    height: 20px;
}

.legend_label {
    font-size: 100%;
}

.paper {
    background-color: #39acff;
}

.venue {
    background-color: #d97fff;
}

.person {
    background-color: #ffb836;
}

.dataset {
    background-color: #ff723d;
}

.code {
    background-color: #59d143;
}

.ego-button-container.material-icons {
    display: block;
}

.ego-button {
    text-align: center;
    margin: 2px;
}

.ego-button-container {
    position: absolute;
    z-index: 1000;
    right: 20px;
    display: inline-flex;
    height: 80px;
    justify-content: space-evenly;
    flex-direction: column
}

#menu-button {
    width: 65px;
}







