{% extends "gnosis_theme.html" %}

{% block content %}

    {% load static %}

    <div class="card shadow-sm mt-3">
        <div class="card-header"><h3>New user registration</h3></div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <br/>

{#                <!-- recaptcha v2 checkbox -->#}
{#                <div class="g-recaptcha" data-callback="dataCallback" data-expired-callback="dataExpiredCallback"#}
{#                     data-error-callback="dataErrorCallback" data-sitekey="6Ld6z7IUAAAAAC-qA5q5CC58YJx8Td_g6wPJs_Pk"></div>#}
{#                <!-- end -->#}

                <input type="submit" class="btn btn-primary btn-lg float-right captcha-submit" value="Sign up" disabled/>
            </form>
        </div>
    </div>
{% endblock %}