<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gnosis Research Paper Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.3.3/cytoscape.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gnosis_theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/ego_map.css' %}">
</head>
<style>
    .max-width {
        max-width: 1024px;
    }
</style>
<body>

<nav id="big" class="navbar navbar-expand-sm mb-2 shadow bg-white navbar-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="{% url 'home' %}">&gamma;&nu;&#974;&sigma;&iota;&sigmaf;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link"
                                        href="{% url 'groups_index' %}">Groups</a></li>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'collections' %}">Collections</a></li>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link">{{ user }}</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="#">Profile</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<nav id="small" class="navbar navbar-expand-md shadow bg-white navbar-light sticky-top mb-2">
    <a class="navbar-brand"
       href="{% url 'home' %}">&gamma;&nu;&#974;&sigma;&iota;&sigmaf;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span style="height: 3vh; color: black;
    width: 5vw;" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link"
                                    href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="#">About</a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item"><a
                        class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item"><a
                        class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container-fluid  max-width float-container" style="margin-top:30px ">
    <div class="row float-right" style="margin-right:30px">
        {% if user.is_authenticated %}
            <div class="btn-group">
                <a href="{% url 'papers_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all papers">Papers&nbsp&nbsp</a>
                <div class="btn-group">
                    <a href="{% url 'paper_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new paper">+</a>
                    <button type="button" class="btn btn-primary flex-item dropdown-toggle" data-toggle="dropdown"
                            title="Add with URL">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'paper_create_from_url' %}">from URL</a></li>
                    </ul>
                </div>
            </div>

            <div class="btn-group ml-1">
                <a href="{% url 'persons_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all people">People&nbsp&nbsp</a>
                <div class="btn-group">
                    <a href="{% url 'person_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new person">+</a>
                </div>
            </div>

            <div class="btn-group ml-1">
                <a href="{% url 'venues_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all venues">Venues&nbsp&nbsp</a>
                <div class="btn-group">
                    <a href="{% url 'venue_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new venue">+</a>
                </div>
            </div>

            <div class="btn-group ml-1">
                <a href="{% url 'datasets_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all datasets">Datasets</a>
                <div class="btn-group">
                    <a href="{% url 'dataset_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new dataset">+</a>
                </div>
            </div>

            <div class="btn-group ml-1">
                <a href="{% url 'codes_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all codes">Codes</a>
                <div class="btn-group">
                    <a href="{% url 'code_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new code">+</a>
                </div>
            </div>

            <!--               </div>-->
        {% else %}
            <div class="btn-group">
                <a href="{% url 'papers_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all papers">Papers&nbsp&nbsp</a>
            </div>

            <div class="btn-group ml-1">
                <a href="{% url 'persons_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all people">People&nbsp&nbsp</a>
            </div>

            <div class="btn-group ml-1">
                <a href="{% url 'venues_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all venues">Venues&nbsp&nbsp</a>
            </div>

            <div class="btn-group ml-1">
                <a href="{% url 'datasets_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all datasets">Datasets</a>
            </div>

            <div class="btn-group ml-1">
                <a href="{% url 'codes_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all codes">Codes</a>
            </div>
        {% endif %}
    </div>

    <div class="row float-left w-100 mb-3">
        <div class="col-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!--<div class="col-sm-2 sidenav">-->
    <!--{% load static %}-->
    <!--<img src="{% static "catalog/csiro-data61-logos.png" %}" alt="CSIRO and Data61 Logos">-->
    <!--</div>-->
    <!--    </div>-->
</div>


<!-- Footer -->
<footer class="page-footer text-center font-small blue pt-4 mt-5">
    {% block footer %}
    {% endblock %}
    {% load static %}
    <!-- Footer Links -->
    <div class="container-fluid max-width text-center text-sm-center">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-sm-6 mt-sm-0 mt-3">
                <!-- Content -->
                <img src="{% static 'catalog/csiro-data61-logos.png' %}" class="mx-auto d-block"
                     alt="CSIRO and Data61 Logos">
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-sm-6 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://data61.csiro.au"> CSIRO's Data61</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>
